@tailwind base;
@layer base {
    h1 {
      @apply text-4xl font-extrabold dark:text-gray-100 my-8;
    }
    h2 {
      @apply text-3xl font-extrabold dark:text-gray-100 my-6;
    }
    h3 {
      @apply text-2xl font-bold dark:text-gray-100 my-4;
    }
    h4 {
      @apply text-xl font-bold dark:text-gray-100 my-3;
    }
    h5 {
      @apply text-lg font-bold dark:text-gray-100 my-2;
    }
    h6 {
      @apply text-base font-bold dark:text-gray-100 my-1;
    }
    a {
      @apply dark:text-slate-100 text-slate-800 no-underline font-bold;
    }

    a:hover {
        @apply underline decoration-green-600;
    }


    p, li {
        @apply text-base dark:text-gray-100;
    }

    code:not([class*="language"]) {
      @apply p-[0.03rem] px-2 bg-slate-300 dark:bg-stone-800 border border-stone-300 rounded shadow-xl dark:border-stone-900;
    }

    ul, ol {
      @apply list-inside
    }

    li {
      @apply ml-3 my-[0.35rem]
    }

    ul {
      @apply list-disc
    }

    ol {
      @apply list-decimal
    }

    h1,h2,h3,h4,h5,h6,p,ul,ol,li,a {
      font-family: 'Open Sans', sans-serif;
    }
  }
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

html {
  scroll-padding-top: 5rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  padding: 0;
  margin: 0
  @apply rounded-b-xl;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded-b-xl bg-slate-300 dark:bg-slate-800
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-b-xl bg-slate-400 dark:bg-slate-700

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500 dark:bg-slate-600
}


/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

* {
    /* font-family: 'JetBrains Mono', monospace;    */
    word-break: break-word;
    /* font-family: 'PT Sans', sans-serif; */
}

/* http://prismjs.com/download.html?themes=prism-coy&languages=markup+css+clike+javascript+typescript&plugins=line-highlight+line-numbers+toolbar+normalize-whitespace+show-language+copy-to-clipboard */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

 pre[class*="language-"] {
    @apply shadow-lg border border-stone-200 dark:border-stone-800;
 }

pre[class*="language-"],
code[class*="language-"] {
	font-size: 13px;
	text-shadow: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
  font-family: 'JetBrains Mono', monospace; 
	hyphens: none;
    @apply rounded-lg
    bg-[#f8f8f8] text-[#393A34] 
    dark:bg-[#1e1e1e] dark:text-[#d4d4d4]
    align-middle;
    /* border-b-0; */
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] *::selection,
code[class*="language-"] *::selection {
	text-shadow: none;
	background: #264F78;
    @apply text-[#f8f8f8]
}

@media print {
	pre[class*="language-"],
	code[class*="language-"] {
		text-shadow: none;
	}
}

pre[class*="language-"] {
	padding: 1em;
	overflow: auto;
  @apply my-5
}

:not(pre) > code[class*="language-"] {
	padding: .1em .3em;
	border-radius: .3em;
	color: #db4c69;
}
/*********************************************************
* Tokens
*/
.namespace {
	opacity: .7;
}

.token.comment,
.token.prolog {
	color: #6a9955;
}

pre[class*="language-html"],
code[class*="language-html"],
.token.punctuation,
.language-html .language-css .token.punctuation,
.language-html .language-javascript .token.punctuation,
.token.operator,
.token.entity,
.token.atrule .token.url .token.punctuation,
.token.attr-value .token.punctuation.attr-equals {
	color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
	color: #b5cea8;
}

pre[class*="language-css"],
code[class*="language-css"],
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.deleted,
.token.atrule,
.token.attr-value,
.token.attr-value .token.punctuation {
	color: #ce9178;
}

.language-css .token.string.url {
	text-decoration: underline;
}

.token.atrule .token.url .token.function,
.language-regex .token.anchor,
.token.function,
.token.function .token.maybe-class-name  {
	color: #dcdcaa;
}

.token.keyword.module,
.token.keyword.control-flow,
.token.atrule .token.rule {
	color: #c586c0;
}


.token.regex {
	color: #d16969;
}


.token.italic {
	font-style: italic;
}


.token.class-name,
.token.maybe-class-name,
.token.namespace {
    color: #4ec9b0;
}

pre[class*="language-javascript"],
code[class*="language-javascript"],
pre[class*="language-jsx"],
code[class*="language-jsx"],
pre[class*="language-typescript"],
code[class*="language-typescript"],
pre[class*="language-tsx"],
code[class*="language-tsx"],
.token.constant,
.token.console,
.token.parameter,
.token.interpolation,
.token.property,
.token.variable,
.token.attr-name,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name,
.token.atrule .token.url,
.token.doctype .token.name {
    color: #9cdcfe;
}

.token.tag,
.token.punctuation.interpolation-punctuation,
.token.boolean,
.token.entity,
.token.important,
.token.keyword,
.token.doctype .token.doctype-tag,
.token.operator.arrow {
    color: #569cd6;
}


.token.selector,
.token.escape {
	color: #d7ba7d;
}


.token.tag .token.punctuation,
.token.cdata {
	color: #808080;
}


.language-html .token.punctuation {
	color: #808080;
}
/*********************************************************
* Line highlighting
*/
pre[class*="language-"] > code[class*="language-"] {
	position: relative;
	z-index: 1;
}

.line-highlight.line-highlight {
	background: #f7ebc6;
	box-shadow: inset 5px 0 0 #f7d87c;
	z-index: 0;
}